{% extends 'base.html' %}
{% load static %}
{% block title %}
    Welcome to Taskmate
{% endblock title %}

{% block content %}
    <div class = "container">
        <div class = "row mt-5">
            <div class = "col-lg-4">
                <img src="{% static 'images\stickynotes.jpg' %}" alt="Notes" class="rounded-lg shadow" width = "360" height="250">
            </div>
            <div class = "col-lg-4">
                <img src="{% static 'images\stickynotes-1.jpg' %}" alt="Notes" class="rounded-lg shadow" width = "360" height="250">
            </div>
            <div class = "col-lg-4">
                <img src="{% static 'images\stickynotes-2.jpg' %}" alt="Notes" class="rounded-lg shadow" width = "360" height="250">
            </div>
        </div>

        <div class = "row mt-5 text-center">
            <div class = "col-md-10 offset-md-1">
                <p class="h1 text-primary">Quick and Easy to Use. Anytime! Anywhere!</p>
                <p class="h2 mt-3">"Plan your day Better. Get Your Life Organised.</p>
                <p class="h5">TASKMATE lets your keep track of your task in one place</p>
                <a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-5 shadow-sm">Let's Get Started</button></a>
                
            </div>
           
        </div>
    </div>
    

{% endblock content %}

