{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Taskmate -  Register
{% endblock title %}

{% block content %}
    <div class="container mt-5 col-6">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h2> Register On Taskmate</h2>
       <form method ="POST">
           {% csrf_token %}

           {{register_form|crispy}}

           <button type="submit" class="btn btn-primary"> Register</button>
       </form>
   
    </div>
    
{% endblock content %}

